.friendList {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: space-around;
  margin: 20px;
}

.friendListItem {
  max-width: calc((100% - 80px) / 5);

  border: 3px solid black;
  border-radius: 8px;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
}
